*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;
}
h1{
    padding: 10px;
    background-color: lightgray;
    text-align: center;
}
div{
   text-align: center;
   
    
}
input[type="placeholder"]{
   display: 
}

